repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
- repo: local
  hooks:
    - id: ruff-fix
      name: ruff
      entry: ruff
      language: system
      types: [python]
      files: \.py$
      args: [check, --fix]
    - id: ruff-format
      name: ruff-format
      entry: ruff
      language: system
      types: [python]
      files: \.py$
      args: [format]
    - id: pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]
      files: \.py$
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: \.py$
